*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction:row;
    background-color: azure;
    border: 2px solid red;
    align-items: center;
    justify-content: center;
}
.reg-form{
     margin: 10px 20px;
     padding: 10px 15px;
     width: 50%;
     min-height: 100vh;
     border: 2px solid green;
     background-color: gold;
}